@import './variables.scss';

.app {
    z-index: 0;
    margin: $appMargins;
    margin-top: 30px;
    font-family: $globalFont;
    color: $fontColor;
    text-shadow: 2px 2px 4px $fontShadow !important;

    div {
        border-color: $fontColor;
    }

    button {
        color: $fontColor !important;
        border-color: $fontColor !important;
        text-shadow: 2px 2px 4px $fontShadow !important;
    }
}