@import './variables.scss';

.current-weather {
    max-width: 50%;
    min-width: 136px;
    font-size: $globalFontSize;

    h2 {
        font-family: $minorTitle;
        font-size: $minorTitleSize;
    }

    .temp-details-wrapper {

        height: 255px;

        .current-temp {
            margin-bottom: 20px;

            h3 {
                font-family: $minorTitle;
                font-size: 25px;
            }

            button {
                // background-color: transparent;
                border: 1px solid #000;
                // text-decoration: underline;
                border-radius: 50%;
                font-size: 18px;
                font-family: $minorTitle;
                cursor: pointer;
            }

            p {
                font-family: $minorTitle;
                margin: 0;
            }
        }

        .weather-details {
            font-size: 20px;

            tbody {
                tr {
                    margin-bottom: 10px;

                    td:first-of-type {
                        padding-right: 20px;
                    }
                }
            }
        }
    }

}