@import './variables.scss';

.hourly-forecast {
    margin-top: 10px;
    border: 2px solid #000;
    border-radius: 20px;

    h3 {
        font-family: $minorTitle;
        margin-left: 10px;
        margin-top: 10px;
    }

    .hour-wrapper {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        width: 500px;
        overflow: auto;
    }

    .one-hour {
        white-space: nowrap;
        width: fit-content;
        margin: 0 7px;
        text-align: center;

        h5 {
            font-family: $globalFont;
        }

        img {
            width: 50px;
        }
    }

}