.search-select {
    position: absolute;
    width: 100%;
    display: grid;
    place-items: center;
    left: 50%;
    transform: translate(-50%, -0%);

    .my-search {
        width: 300px;
        margin-bottom: 10px;
        text-align: center;
    }

    .select {
        width: 310px;
        text-align: center;
        // overflow-y: scroll;
        min-height: 100px;
        max-height: 500px;
    }
}

// .select {
//     position: absolute;
//     margin: 0;
//     width: 200px;
//     left: 50px;
//     transform: translate(-50%, -50%);
// }