.buttonToggled {
    position: relative;
    bottom: -20px;
}

.hover-up {

    :hover {
        // transition: .3s;
        transform: translateY(-20px);
    }
}

.hover-down {

    :hover {
        // transition: .3s;
        transform: translateY(20px);
    }
}

.loader-inline {
    display: inline;
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0.5em 1em !important;
}