@import './variables';

.buttonToggled {
    position: relative;
    bottom: -20px;
}

.hover-up {

    :hover {
        // transition: .3s;
        transform: translateY(-20px);
    }
}

.hover-down {

    :hover {
        // transition: .3s;
        transform: translateY(20px);
    }
}

.loader-inline {
    display: inline;
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0.5em 1em !important;
}

// .clear-day {
//     color: $clearDayColor !important;
//     text-shadow: 0px 0px 4px $clearDayShadowColor !important;

//     button {
//         color: $clearDayColor !important;
//         border-color: $clearDayColor !important;
//         text-shadow: 2px 2px 4px $clearDayShadowColor !important;
//     }

//     div {
//         // backdrop-filter: blur(10px);
//         border-color: $clearDayColor;
//         text-shadow: 2px 2px 4px $clearDayShadowColor !important;
//     }
// }

// .clear-night {
//     color: $clearNightColor !important;

//     button {
//         color: $clearNightColor !important;
//         border-color: $clearNightColor !important;
//     }

//     div {
//         color: $clearNightColor !important;
//         border-color: $clearNightColor !important;
//     }
// }

// .cloud-day {
//     color: $cloudyDayColor !important;
//     text-shadow: 2px 2px 4px $cloudyDayShadowColor !important;

//     button {
//         color: $cloudyDayColor !important;
//         border-color: $cloudyDayColor !important;
//         text-shadow: 2px 2px 4px $cloudyDayShadowColor !important;
//     }

//     div {
//         border-color: $cloudyDayColor !important;
//         text-shadow: 2px 2px 4px $cloudyDayShadowColor !important;
//     }
// }

// .cloud-night {
//     color: $cloudyNightColor !important;
//     text-shadow: 2px 2px 4px $cloudyNightShadowColor !important;

//     button {
//         color: $cloudyNightColor !important;
//         border-color: $cloudyNightColor !important;
//         text-shadow: 2px 2px 4px $cloudyNightShadowColor !important;
//     }

//     div {
//         border-color: $cloudyNightColor !important;
//         text-shadow: 2px 2px 4px $cloudyNightShadowColor !important;
//     }
// }

// .rain-day {
//     color: $rainyDayColor !important;
//     text-shadow: 2px 2px 4px $rainyDayShadowColor !important;

//     button {
//         color: $rainyDayColor !important;
//         border-color: $rainyDayColor !important;
//         text-shadow: 2px 2px 4px $rainyDayShadowColor !important;
//     }

//     div {
//         border-color: $rainyDayColor !important;
//         text-shadow: 2px 2px 4px $rainyDayShadowColor !important;
//     }
// }

// .rain-night {
//     color: $rainyNightColor;
//     text-shadow: 2px 2px 4px $rainyNightShadowColor;

//     button {
//         color: $rainyNightColor !important;
//         border-color: $rainyNightColor !important;
//         text-shadow: 2px 2px 4px $rainyNightShadowColor !important;
//     }

//     div {
//         border-color: $rainyNightColor !important;
//         text-shadow: 2px 2px 4px $rainyNightShadowColor !important;
//     }
// }